main {
  width: 80vw;
  height: calc(100vh - 5rem);
  position: relative;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  width: 15vw;
  height: calc(100vh - 5rem);
  margin-left: 1rem;
  margin-bottom: 3rem;
}
