.quote {
  color: #ffffff;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px,
    #ffc02d 0px 0px 10px, #ffc02d 0px 0px 10px, #ffc02d 0px 0px 10px,
    #ffc02d 0px 0px 10px, #ffc02d 0px 0px 15px;
  color: #ffffff;
}
